alembic==0.8.10
appdirs==1.4.0
elasticsearch==5.0.1
future==0.16.0
isodate==0.5.4
Mako==1.0.6
MarkupSafe==0.23
nltk==3.6.3
oauthlib==2.0.1
packaging==16.8
pyparsing==2.1.10
python-editor==1.0.3
python-slugify==1.2.1
python-twitter==3.2
python-utils==2.0.1
rdflib==4.2.1
rdflib-sqlalchemy==0.3.8
requests==2.12.4
requests-oauthlib==0.7.0
six==1.10.0
SQLAlchemy==1.1.5
tqdm==4.11.2
Unidecode==0.4.20
urllib3==1.19.1
